<!DOCTYPE html>

<html lang="de" data-ng-app="mailbox">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- The fav icon -->
    <link rel="shortcut icon" href="assets/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/icons/favicon.ico" type="image/x-icon">

    <style type="text/css">
      .ng-cloak, ng-cloak, [ng-cloak], .translate-cloak {
        display: none !important;
      }
    </style>

    <title></title>
  </head>
  <body ng-cloak ui-view layout="row"></body>
</html>
